.theme-toggle-btn {
  position: fixed;
  background: transparent;
  top: 2rem;
  right: 2rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
