.theme-toggle-btn {
  position: fixed;
  background: transparent;
  top: 2rem;
  right: 2rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  svg {
    width: min(5dvw, 5dvw);
    height: min(5dvh, 5dvh);
    color: #979797;
  }
}

button {
  font-size: min(2.5dvw, 2.5dvh);
}

.page-title {
  font-weight: bold;
  font-size: 2.5rem;
  color: #d0d0d0;
  height: 5dvh;
  width: 94dvw;
  display: flex;
  justify-content: center;
  background-clip: text;
  text-align: center;
  margin-top: 1.5dvh;
  margin-bottom: 1.5dvh;
}

.page-subtitle {
  height: 5dvh;
  width: 80dvw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5dvh;

}

.page-footer {
  width: 94dvw;
  height: 13dvh;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 5dvw;
}