#login-form-core {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50dvw;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.logo-container img {
  width: min(30dvw, 30dvh);
  height: min(30dvw, 30dvh);
  background: transparent !important;
  border-radius: 3rem;
}

h1 {
  background: linear-gradient(180deg, #9f9f9f, #999999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

#view-mode {
  display: flex;
  justify-content: end;
  height: 2rem;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70dvw;
}

.buttons {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  width: min(40dvw, 40dvh);
  margin-top: 2dvh;
  margin-bottom: 2dvh;
}

#spacer {
  a {
    color: #a7a7a7;
    font-size: min(2dvw, 2dvh);
  }
}