.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80dvw;
  height: 80dvh;
  background: linear-gradient(180deg,
      rgba(107, 107, 107, 0.8),
      rgba(26, 26, 26, 0.8));
  border-radius: 3rem;
  box-shadow: 0 0 10rem rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10rem);
  padding: min(8dvw, 8dvh);
}

#left {
  width: min(2dvw, 2dvh);
}

#middle {
  width: min(60dvw, 60dvh);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: min(10dvw, 10dvh);
    margin-top: min(2dvw, 2dvh);
    background: linear-gradient(180deg, #9f9f9f, #999999);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

#register-form-core {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}

#register-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: min(2dvw, 2dvh);
  margin-top: min(4dvw, 4dvh);
  margin-bottom: min(4dvw, 4dvh);
}

#register {
  width: min(40dvw, 20dvh);
  width: max(40dvw, 20dvh);
}

#reset {
  width: min(40dvw, 20dvh);
  width: max(30dvw, 20dvh);
}

.buttons :hover {
  transform: scale(1.05);
  background-color: #777777;
  transition: transform 0.2s;
}

.error-message {
  color: #e60000;
  text-align: center;
  font-weight: bold;
  font-size: min(3dvw, 3dvh);
}

#right {
  width: min(2dvw, 2dvh);
  display: flex;
  justify-content: end;

  #close-button {
    cursor: pointer;
    color: #353535;
    font-size: min(6dvw, 6dvh);
  }

  #close-button :hover {
    color: #747474;
  }
}